<div class="container-fluid  p-5 my-5 text-white">
    <p class="h1 text-center">Godfall</p>

    <div class="container-md">
        <div class="container-sm">
            <p>
                Godfall is my fantasy setting, currently outlining and writing novels and short stories that take place within it here!  This area of the site acts as a wiki for everything here!
            </p>
        </div>
    </div>
    <div class="container-md">
        <p class="h2">Github<br>
        <div class="container-sm">
            <p>
                Godfall began when an underground group known as "The Watchers of the Deep" worked alongside the kingdom of Asmere to find a way to move across the continent faster than the other kingdoms.  They toyed with different aspects of magick, rummaged through all secrets of the Old World, and made pacts with beings beyond comprehension.  The King and his Advisors were called to a ritual, which began with the sacrifice of a myriad of prisoners.  Reality rended, and portals tore open at the centers of the two rituals.  The King insisted he go in first, having full faith in the coven.  Little is known about what happened inside, but he never came out of destination portal.
            </p>
            <p>
                What came back out of the origin portal, however, was no King.  It was shrouded in a cloak of shadow, the raw nature of it antithetical to existence.  Those present were ordered to kneel, and with a swipe of its long, inhuman hand, slew those that ran.  It rended the portal wider, broadening its borders to the bounds of the ritual.  From behind the shadowy figure, came forth the first warform of Incursion.  The avatar of Chikara, the Forever.  Her presence radiated whispers of madness into the minds of all present.  The coven began to sing high praises to her, offering the King's advisors as a gift.  She reached out into their minds, and clouded their sight.  And in their blindness, they saw...
            </p>
            <p>
                The gods reacted, sending forth their avatars and angels alike to try and repel Incursion.  A drawn out battle ensued, ending with the sacrifice of Thali's lead angel, Valia, to seal the spire's withering effect.  At the same time, calls from their temples rang out, uniting the continent under one cause to prepare for the coming Incursion.
            </p>
            <p>
                Decades passed, and after years of strife and violence, the gods each released their careful control over their aspects to prevent Incursion from taking it for themselves.  Eventually, the Coven figured out how to seal the realm with the help of the Goddess of the Grave, the final survivor of the Old Gods.
            </p>
        </div>
    </div>

</div>