<div class="container-fluid  p-5 my-5 text-white">
    <p class="h1 text-center">Development Projects</p>

    <div class="container-md">
        <p class="h2">This site!<br>
        <div class="container-sm">
            <p>
                This site's running on a Node.js server, using Bootstrap 5 and EJS to make it nice and responsive.
            </p>
        </div>
    </div>
    <div class="container-md">
        <p class="h2">Github<br>
        <div class="container-sm">
            <p>
                I've got a number of my projects on my GitHub.
            </p>
        </div>
    </div>
    <div class="container-md">
        <p class="h2">Curseforge<br>
        <div class="container-sm">
            <p>
                My Curseforge page is home to various minecraft mods and projects I've created and contributed to.  Check it out, Java's a blast to work in.
            </p>
        </div>
    </div>
</div>