<div class="container-fluid  p-5 my-5 text-white">
    <p class="h1 text-center">Development Projects</p>

    <div class="container-md">
        <a href="/projects/writing/godfall">
        <p class="h2">Godfall<br>
        <div class="container-sm">
            <p>
                This site's running on a Node.js server, using Bootstrap 5 and EJS to make it nice and responsive.
            </p>
        </div>
        </a>
    </div>
</div>