<div class="tm-row">
        <div class="tm-col">
                <div class="container-lg">
                        <div class="o-flexy__block" style="opacity: 1; transform: translateY(0px);">
                                <h1 class="c-hero__title">Heya, I'm Sadie!</h1>
                                <p>
                                        I'm an Austin-based backend developer, specializing in PHP and Java.  Learning and mastering new skills is my hobby!  Be it Node.js, playing guitar, or home automation, I invest in a diverse skill set to keep a sharp, fresh perspective on the world around me.
                                </p>
                                <p>

                                </p>
                        </div>
                </div>
        </div>
        <div class="tm-col">
                <div class="card" style="width: 50%; margin-left: auto; margin-right: 0; border-radius: 10%;">
                        <img src="../../public/images/self_portrait.jpg" style="border-radius: 50%;">
                        <div class="card-body">
                                25<br>
                                She/Her<br>
                                Backend Developer<br>
                                Creative Writer
                        </div>
                </div>
        </div>
</div>