<div class="tm-row">
        <div class="tm-col">
                <div class="container-lg">
                        <div class="o-flexy__block" style="opacity: 1; transform: translateY(0px);">
                                <h1 class="c-hero__title">Heya, I'm Sadie!</h1>
                                <p>
                                        I'm an Austin-based backend developer, specializing in PHP and Java.  Learning and mastering new skills is my hobby!  Be it Node.js, playing guitar, or home automation, I invest in a diverse skillset to keep a sharp, fresh perspective on the world around me.
                                </p>
                                <p>

                                </p>
                        </div>
                </div>
        </div>
        <div class="tm-col">
                <div class="card" style="width: 50%; margin-left: auto; margin-right: 0; border-radius: 10%;">
                        <img src="../../public/images/self_portrait.jpg" alt="Me!">
                        <div class="card-body">
                                25<br>
                                She/Her<br>
                                Backend Developer<br>
                                Creative Writer
                        </div>
                </div>
        </div>
</div>
<div class="container">
        <h1>Work History</h1>
<hr>
<div class="card-group">
        <div class="card w-50">
                <div class="card-body p-5 text-center">
                        <div class="tm-row justify-content-center">
                                <img src="https://gravitylending.com/wp-content/uploads/2020/06/GL-LOGO.png" width="291" height="62" alt="">
                        </div>
                        <div class="tm-row justify-content-center">
                                <h4>Back End Developer</h4>
                        </div>
                        <div class="tm-row justify-content-center fst-italic">
                                2021-Present
                        </div>
                        <div class="tm-row justify-content-center">
                                <h5>PHP, Laravel, Apache, MySQL, JQuery, Bootstrap 5</h5>
                        </div>
                        <div class="tm-row justify-content-center" >
                                <hr>
                                <ul style="list-style-type: none;">
                                        <li>Built and implemented API’s for external integrations from the ground up<hr></li>

                                        <li>Wrote the documentation and communicated with vendors on their usage<hr></li>

                                        <li>Developed the reporting services to monitor company activity and progress<hr></li>

                                        <li>Met with other departments to discuss company needs to communicate it with the team<hr></li>
                                </ul>
                        </div>
                </div>
        </div>
        <div class="card w-50">
                <div class="card-body p-5 text-center">
                        <div class="tm-row justify-content-center">
                                <img src="https://www.kleinisd.net/UserFiles/Servers/Server_568041/Templates/img/logo.png" width="291" height="62" alt="">
                        </div>
                        <div class="tm-row justify-content-center">
                                <h4>Electronics Technician
                                </h4>
                        </div>
                        <div class="tm-row justify-content-center fst-italic">
                                        2018-2021
                        </div>
                        <div class="tm-row justify-content-center">
                                <h5>C++, Proprietary Languages, Microprocessors</h5>
                        </div>
                        <div class="tm-row justify-content-center" >
                                <hr>
                                <ul style="list-style-type: none;">
                                        <li>Designed and implemented school-wide PA systems for district of over 60,000 students<hr></li>
                                        <li>Offered on site support and component level repair for audio equipment<hr></li>
                                        <li>Crafted IP-Based audio system solutions to help facilitate a learning environment<hr></li>
                                        <li>Maintained and programmed Fire and PA systems to insure the life and safety of the student body<hr></li>
                                </ul>
                        </div>
                </div>
        </div>
</div>
</div>
<div class="container">
        <h1>Programming Projects</h1>
<hr>
<div class="card-deck tm-row justify-content-center">
        <div class="card w-25">
                <a href="https://github.com/MintTeaTx/personal-site">
                        <div class="card-body text-center">
                                <h2>This site!</h2>
                                <div class="container-sm">
                                        <p>
                                                This site was built by hand on Node.js with EJS and Bootstrap 5, click here to check out the source!
                                        </p>
                                </div>
                        </div>
                </a>
        </div>
        <div class="card w-25">
                <a href="https://github.com/MintTeaTx/">
                        <div class="card-body text-center">
                                <svg height="128" aria-hidden="true" viewBox="0 0 16 16" width="128" data-view-component="true" class="octicon octicon-mark-github v-align-middle">
                                        <path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"></path>
                                </svg>
                                <div class="">
                                        <p>
                                                Check out my personal GitHub for more of my projects!
                                        </p>
                                </div>
                        </div>
                </a>
        </div>
        <div class="card w-25">
                <a href="https://www.curseforge.com/members/toxicminttea/projects">
                        <div class="card-body text-center">
                                <img src="https://www.curseforge.com/Content/2-0-8202-14472/Skins/CurseForge/images/anvil.svg" alt="CurseForge" height="128" width="128" class="w-full h-full absolute">
                                <div class="">
                                        <p>
                                                Here's my curseforge account, home to a few of my projects.
                                        </p>
                                </div>
                        </div>
                </a>
        </div>
</div>
</div>
<div class="container">
        <h1>Wrtiting Projects</h1>

<hr>
<div class="card-deck tm-row justify-content-center">
        <div class="card tm-col">
                <div class="card-body p-5 text-center">
                        <a href="/projects/writing/godfall">
                                <p class="h2">Godfall<br>
                                <div class="container-sm">
                                        <p>
                                                Post Apocalyptic High Fantasy
                                        </p>
                                </div>
                        </a>
                </div>
        </div>
</div>
</div>