<div class="container-fluid  p-5 my-5 text-white">
    <p class="h1 text-center">My Resume</p>

    <div class="container-md p-5 my-5 ">
        <p class="h2">Gravity Lending<br>
        <small>Back End Developer</small></p>
        <p>PHP, Laravel, Apache, MySQL, JQuery, Bootstrap 5</p>
        <div class="container-sm">
            <ul>
                <li>Built and implemented API’s for external integrations from the ground up</li>
                <li>Wrote the documentation and communicated with vendors on their usage</li>
                <li>Developed the reporting services to monitor company activity and progress</li>
                <li>Met with other departments to discuss company needs to communicate it with the team</li>
            </ul>
        </div>
    </div>
    <div class="container-md p-5 my-5">
        <p class="h2">Klein ISD<br>
            <small>Electronics Technician</small></p>
        <p>C++, Vendor-made Proprietary Languages, Board-Level Electronics</p>
        <div class="container-sm">
            <ul>
                <li>Designed and implemented school-wide PA systems for district of over 60,000 students</li>
                <li>Offered on site support and component level repair for audio equipment</li>
                <li>Crafted IP-Based audio system solutions to help facilitate a learning environment</li>
                <li>Maintained and programmed Fire and PA systems to insure the life and safety of the student body</li>
            </ul>
        </div>
    </div>
</div>