<div class="container-fluid  p-5 my-5 text-white">
    <p class="h1 text-center">My Resume</p>

    <div class="tm-row">

        <div class="tm-col">
        <h2>Gravity Lending</h2>
        <h3>Back End Developer</h3>
        <h5>PHP, Laravel, Apache, MySQL, JQuery, Bootstrap 5</h5>
        </div>
        <div class="tm-col p-5">
            <ul>
                <li>Built and implemented API’s for external integrations from the ground up</li>
                <li>Wrote the documentation and communicated with vendors on their usage</li>
                <li>Developed the reporting services to monitor company activity and progress</li>
                <li>Met with other departments to discuss company needs to communicate it with the team</li>
            </ul>
        </div>
    </div>
    <div class="container-md p-5 my-5">
        <h2>Klein ISD<br>
            <small>Electronics Technician</small></h2>
        <h5>C++, Vendor-made Proprietary Languages, Board-Level Electronics</h5>
        <div class="p-5">
            <ul>
                <li>Designed and implemented school-wide PA systems for district of over 60,000 students</li>
                <li>Offered on site support and component level repair for audio equipment</li>
                <li>Crafted IP-Based audio system solutions to help facilitate a learning environment</li>
                <li>Maintained and programmed Fire and PA systems to insure the life and safety of the student body</li>
            </ul>
        </div>
    </div>
</div>